<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd"
       xmlns:context="http://www.springframework.org/schema/context">
    <!--指定注解扫描包-->
<!--    <context:component-scan base-package="com.ouma"/>-->
<!--    <context:annotation-config/>-->

        <bean id="userService" class="com.ouma.service.UserServiceImpl"/>
        <bean id="log" class="com.ouma.log.Log"/>
        <bean id="afterLog" class="com.ouma.log.AfterLog"/>

<!--    方式1-->
<!--    <aop:config>-->
<!--        <aop:pointcut id="pointcut" expression="execution(* com.ouma.service.UserServiceImpl.*(..))"/>-->
<!--        <aop:advisor advice-ref="log" pointcut-ref="pointcut"></aop:advisor>-->
<!--        <aop:advisor advice-ref="afterLog" pointcut-ref="pointcut"></aop:advisor>-->
<!--    </aop:config>-->


    <!--    方式2-->
<!--    -->
<!--    <bean id = "diy" class="com.ouma.diy.DiyPointCut"></bean>-->
<!--    -->
<!--    <aop:config>-->
<!--        <aop:aspect ref="diy">-->
<!--            <aop:pointcut id="point" expression="execution(* com.ouma.service.UserServiceImpl.*(..))"/>-->
<!--            <aop:before method="before" pointcut-ref="point"></aop:before>-->
<!--            <aop:after method="after" pointcut-ref="point"></aop:after>-->
<!--        </aop:aspect>-->
<!--    </aop:config>-->

    <bean id="annotation" class="com.ouma.diy.AnnotationPointCut"></bean>
    <aop:aspectj-autoproxy>

    </aop:aspectj-autoproxy>

</beans>